.App {
  background:linear-gradient(0.25turn, #95c5da, #ebf8e1, #d47db7);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(28, 12, 122);
}

.birth-input {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 10px;
}

.gender {
  display: flex;
  justify-content: space-between;
  width:70%;
  margin-top: 10px;
}

.form-floating {
  margin-top: 10px;
}

.btn-primary {
  margin-left: 40%;
  margin-top: 10px;
  width:100px;
}
