.App {
  background:linear-gradient(0.25turn, #95c5da, #ebf8e1, #d47db7);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(33, 26, 138);
  font-weight: 600;
}
/*Title*/
h1 {
  color: #594bda;
  text-align: center;
  padding-bottom: 20px;
}
/*Name Input*/
.col {
  padding-bottom: 5px;
}
/*gender box*/
.gender {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width:70%;
}

.form-check-label{
  color: rgb(97, 93, 93);
}
/*date of birth box*/
.birth-input {
  display: flex;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 10px;
}

.birth-input .form-select{
  margin-right: 10px;
  margin-left: 10px;
}

/*Answer Box*/
.form-floating {
  margin-top: 10px;
  color:rgb(136, 132, 132)
} /*Check Box*/
.form-check {
  margin-top: 10px;
}

.btn-primary {
  margin-left: 40%;
  margin-top: 10px;
  width:25%;
}
